# Challenge 3

In [1]:
# import libraries here
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

#### Import the titanic file. Name your dataset `titanic`.

In [2]:
titanic = pd.read_csv('https://raw.githubusercontent.com/eduardoheros/lab-matplotlib-seaborn/master/your-code/titanic.csv',low_memory=False)
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1       0.0       3  ...   7.2500    U0         S
1            2       1.0       1  ...  71.2833   C85         C
2            3       1.0       3  ...   7.9250    U0         S
3            4       1.0       1  ...  53.1000  C123         S
4            5       0.0       3  ...   8.0500    U0         S

[5 rows x 12 columns]

#### Explore the titanic dataset using Pandas dtypes

In [3]:
titanic.dtypes

PassengerId      int64
Survived       float64
Pclass           int64
Name            object
Gender          object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

#### What are your numerical variables? What are your categorical variables?

*Hint: Use Pandas `select_dtypes`*

In [0]:
# your code here- numerical variable

In [0]:
#your code here- categorical variable

#### Set the plot style to `classic` and the figure size to `(12,6)`

*Hint: To set the style you can use `matplotlib.pyplot` functions or seaborn*

In [0]:
# your code here

#### Use the appropriate visulalization to show the distribution of the column `Age`

In [0]:
# your code here

#### Use subplots to plot the distribution of the `Age` variable with bins equal to `10`, `20` and `50`.

In [0]:
# your code here

#### Whether the bin size affects your plot? Why?

In [0]:
#your comment here

#### Use seaborn to show the distribution of the column `Age`

In [0]:
# your code here

#### Use the appropriate plot to visualize the column `Gender`. There are 2 ways of doing it. Do it both ways.

*Hint: Use matplotlib and seaborn*

In [0]:
# your code here- 1st way

In [0]:
# your code here- 2nd way

#### Use the appropriate plot to visualize the column `Pclass`

In [0]:
# your code here

#### We would like to have in one single plot the summary statistics of the feature `Age`. Choose the appropriate plot to show below.

In [0]:
# your code here

#### What does the previous plot tell you about the feature `Age`? Comment.

In [0]:
# your comment here

#### Now in addition to the summary statistics, we also want to visualize the distribution of `Age`. Choose the appropriate plot to sow below.

In [0]:
#your code here

#### What additional information in the previous plot provide you about the feature `Age`? Comment.

In [0]:
#your comment here

#### We suspect that there is a linear relationship between `Fare` and `Age`. Use the appropriate plot to show the relationship between these 2 features. There are 2 ways, please do it both ways.

*Hint: One of the ways involves using Seaborn*

In [0]:
#your code-1st way

In [0]:
# your code-2nd way

#### Using Seaborn plot the correlation matrix of various features.

*Hint: search how to use `heatmap`*

In [0]:
#your code here

#### According to the previous plot, what are the most correlated feature? Comment.

In [0]:
#your comment here

#### Use the appropriate plot to display the summary statistics of the `Age` in function of the `Pclass`.

*Hint: use boxplot to display summary statistics of `Age` in relation to each of the discrete values of `Pclass`*

In [0]:
#your code here

#### Use the appropriate plot to display the distributions of  `Age` in relation to  `Gender`.

*Hint: use Facetgrid to display the distribution of `Age` for each categorical value of `Gender`*

In [0]:
#your code here